<h5 class="title">
    PARTICIPANTES
    <span class="pendientes" *ngIf="numeroParticipantes !== 1 && (numeroParticipantes - participantes?.length !== 0)">
      Faltan por introducir: {{numeroParticipantes - participantes?.length}}
    </span>
    <span class="pendientes" *ngIf="numeroParticipantes === 1">
      Puedes introducir: {{32 - participantes?.length}}
    </span>
</h5>

<form class="col-12 card no-padding" *ngIf="participantes?.length !== numeroParticipantes || numeroParticipantes === 1" [formGroup]="participanteFormGroup" (keyup.enter)="addEquipo()">
  <input class="card-body" type="text" placeholder="Introduce participante" maxlength="12" formControlName="nombre"
    (blur)="addEquipo()">
</form>

<p class="no-participantes" *ngIf="participantes?.length <= 0">Todavía no hay participantes</p>

<div class="container row custom-card" *ngIf="participantes.length > 0">
  <ng-container *ngFor="let equipo of participantes; let i = index">
    <div class="col-5 card row">
      <div class="col-10">{{equipo?.nombre}}</div>
      <div class="col-2 eliminar" (click)="eliminarParticipante(equipo.nombre)">X</div>
    </div>
    <div class="col-2" *ngIf="i % 2 === 0"></div>
  </ng-container>
</div>