.equipo-box {
    margin-top: 30px;
    font-weight: 800;
    font-size: 17px;
    width: calc(100% - 25px);
}

.spinner {
    width: 100px;
    height: 80px;
}

.vs {
    padding-top: 50px;
    font-size: 15px;
    font-weight: 800;
}