.container-custom {
    height: 85%;
    overflow-y: auto;
    margin-top: 30px; 
    margin-bottom: 25px;
    text-align: center;
}

.main-title {
    margin-bottom: 20px;
    font-family: 'Orbitron', 'roboto', 'sans-serif';
}