<div class="container container-custom">
  <div class="row">
    <h1 class="col-12 main-title">SORTÉAMELO</h1>
    <div class="col-12" [hidden]="step !== 1">
      <app-ajustes-torneo></app-ajustes-torneo>
    </div>
    <div class="col-12" [hidden]="step !== 2">
      <app-listado-participantes></app-listado-participantes>
    </div>
    <div class="col-12" [hidden]="step !== 3">
      <app-sorteo></app-sorteo>
    </div>
  </div>
</div>
<div class="container">
  <app-navegacion-footer (stepChange)="step = $event"></app-navegacion-footer>
</div>