<h5 class="title">TORNEO</h5>
<form [formGroup]="numeroParticipantsFormGroup">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Numero de participantes</label>
    <select #selector formControlName="numeroParticipantes" class="form-control" id="exampleFormControlSelect1"
      (change)="modificarNumeroParticipantes(selector.value)">
      <option *ngFor="let number of comboParticipantes" value="{{number}}">{{number}}</option>
    </select>
  </div>
</form>

<h5 class="title" style="margin: 50px 0 20px 0;">AÑADIR PARTICIPANTE</h5>
<form [formGroup]="participanteFormGroup">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre*</label>
    <input formControlName="nombre" maxlength="12" type="text" class="form-control" id="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">País</label>
    <input formControlName="pais" type="text" class="form-control" id="name" placeholder="Enter country">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Campeonatos</label>
    <input formControlName="campeonatos" type="number" class="form-control" id="name" placeholder="Enter number">
  </div>

  <div class="row">
    <div class="col-3">
      <button title="{{participantes?.length === numeroParticipantes ? 'Participantes máximos alcanzados' : ''}}"
        class="btn btn-primary"
        [disabled]="!participanteFormGroup?.valid || participantes?.length === numeroParticipantes"
        (click)="addEquipo()" (keyup.enter)="addEquipo()">Añadir</button>
    </div>
    <div class="col-1"></div>
    <div class="col-8 error-dialog row" *ngIf="showError">
      <p class="col-10">{{error}}</p>
      <div class="col-2 close-error" (click)="showError = false">X</div>
    </div>
  </div>
</form>