:host {
    form {
        text-align: left;
    }
}

.error-dialog {
    font-size: 12px;
    border: 1px solid #CA3028;
    background-color: #E36D67;
    color: #F4F0F0;
    padding: 0;
    margin: 10px 0 25px 0;
    border-radius: 5px;
    p {
        margin: 0;
        padding-top: 5px;
        font-size: 14px;
    }
}

.close-error {
    font-size: 20px;
    text-align: right;
    margin: auto;
    cursor: pointer;
}